$Black: rgba(25, 47, 68, 1);
$Green:rgba(0, 202, 144, 1);
$Hover:rgba(35,34,34);
$Cream:rgba(251, 252, 245, 1);
$CreamD: rgba(242, 244, 232, 1);
$TextDark: rgba(1, 58, 81, 1);
$TextGray: rgba(92, 119, 130, 1);
