@import '../../variables/varibles.scss';
.Container{
    background-color: $Green;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(9,100px);
    gap: 30px;
    margin-bottom: 30px;  
  }
.sustainabilityMain{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
  @media (max-width: 992px) {           
    z-index: 1;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 8;
    background-color: rgba(25, 47, 68, 0.5);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  @media (max-width: 768px) {       
    grid-column-start: 2;
    grid-column-end: 11;    
  }
  @media (max-width: 576px) {       
    grid-column-start: 1;
    grid-column-end: 13; 
    grid-row-start: 2;
    grid-row-end: 9;   
  }
}
.sustainabilityImgs{
  display: grid;
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(3,250px);
  gap: 20px;
  .img1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background: url("../../components/img/phone.png") no-repeat;
    background-size: contain;
    background-position: center;
    @media (max-width: 576px) {       
     display: none;
    }
  }
  .img2{
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    background: url("../../components/img/code.png") no-repeat;
    background-size: cover;
    @media (max-width: 576px) {      
      grid-column-start: 1;
      grid-column-end: 13;
     }
  }
  .img3{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    background:no-repeat url("../../components/img/cloud.png");
    background-size: contain;
    background-position: center;
    @media (max-width: 576px) {      
      display: none;
     }
  }
  .img4{
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 4;
    background: no-repeat url("../../components/img/stat.png");
    background-size: cover; 
    @media (max-width: 576px) {      
      grid-column-start: 1;
      grid-column-end: 13;
     }
  }
  @media (max-width: 992px) {           
      z-index: 0;
      grid-column-start: 1;
      grid-column-end: 13;
      grid-row-start: 2;
      grid-row-end: 6;
  }
  
}
.sustainabilityCorps{
    background-color: white; 
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 10;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    @media (max-width: 992px) {

      grid-column-start: 1;
      grid-column-end: 13;                
    }
    @media (max-width: 768px) {
      min-height: 200px; 
      flex-wrap: wrap;    
      margin-top: 20px;
      grid-row-start: 8;
      grid-row-end: 9;  
    }
    @media (max-width: 576px) {  
      grid-column-start: 1;
      grid-column-end: 13; 
      grid-row-start: 8;
      grid-row-end: 9;   
    }
}
.MainTop{ 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 33px;
  height: 33px;
  p{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 15px;
      line-height: 15px;
  }
  @media (max-width: 992px) {           
    background: $Black;
  }
}
.MainMiddle{
  h2{
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    margin: 10px 0;
    @media (max-width: 1250px) {           
      font-size: 50px;
      line-height: 50px;
    }
  } 
}
.MainBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 45px;
  @media (max-width: 1350px) {           
    flex-direction: column;
    align-items: center;
    justify-content: center;
    :first-child{
      margin-bottom: 10px;    
    }
  }
}